@font-face {
    font-family: "Futura";
    src: url("../../Assets/Fonts/FuturaPTMedium.otf") format("opentype"),
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sign-in-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'Futura' , sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.5px;

    & > * {
        margin-top: 20px;
    }

    &__logo {
        width: 90px;
        height: 79px;
        margin-top: 20px;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 140px;
        text-decoration: none;
        border-bottom: 2px solid #fff;
        color: #222;

        &:hover {
            border-bottom: 2px solid #222;
        }
    }
}