.checkout {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    font-family: 'Futura' , sans-serif;


    &__header {
        width: 100%;
        padding: 10px 0;
        display: flex;
        // justify-content: space-between;
        border-bottom: 1px solid darkgrey; 
        
        &-block {
            text-transform: capitalize;
            width: 27%;
            margin-left: 85px;

            &:last-child {
                width: 8%;
            }
        }
    }

    &__price {

        margin-left: auto;

        &-title {
            margin-bottom: 10px;
            color: #2b2b2b;
        }

        &-value {
            color: #4595fb;
            margin-left: 15px;
        }
    }

    &__link {
        color: #2b2b2b;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid #2b2b2b;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;

    }

    &__total {
        color: #4595fb;
        margin-left: 15px;
    }

  }