


.form {

    &__input {
        background: none;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border: 1px solid #222;
        margin: 25px 0;

        &:focus {
            outline: none;
        }
    }

    input[type='password'] {
        letter-spacing: .3em;
    }

    &__label {
        text-transform: uppercase;
        color: #767676;
    }
}

