.cart-item {
    display: flex;
    padding: 15px;


    &__image {
        width: 80px;
        border-radius: 10px;
    }

    &__details {
        margin-left : 15px;
    }

    &__name {
        font-size: 18px;
    }

    &__price {
        color: #4595fb;

    }

    &__quantity {

        color: #2b2b2b;
        margin-left: 10px;
    }
}